.LoadingAnimation {
  height: 50px;
  animation: startLoadingAnimation 3s linear;
}

.LoadingAnimation [class^="circle-"] {
  scale: 50%;
  transform: translateY(-25%);
  animation: loadingCircleAnimation 0.7s ease infinite;
  transform-origin: 204.41px 49.13px;
}

.LoadingAnimation .circle-2 {
  animation-delay: 0.125s;
}

.LoadingAnimation .circle-3 {
  animation-delay: 0.25s;
}

@keyframes startLoadingAnimation {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 1000px;
  }
}

@keyframes loadingCircleAnimation {
  0%,
  100% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(25%);
  }
}
